.right-menu-wrap .btn-logout {
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
}
.right-menu-wrap .btn-logout:hover, .right-menu-wrap .btn-logout:active  {
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}
