@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*preloader*/
i.fa-spinner {
    margin: 0 auto;
    display: block;
}

.btn{border-radius: 1px !important;}
/*tr, td, th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}*/

ul.nav {
    margin-top: 15px;
}
.table-container {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.single-component-details {
    border: 1px solid #dfdeda;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.single-component-details p:nth-child(1) { color: #b4b0ad; }
.single-component-details p:nth-child(2) { font-size: 1.5em; }

table{ font-family: 'Open Sans', sans-serif; }

.single-component-offers-table thead, .single-component-pending-table thead {
    border-top: 1px solid #dddddd;
    font-size: 1.2em;
}
.single-component-offers-table tbody tr, .single-component-pending-table tbody tr{
    font-size: 1.2em;
}
.single-component-pending-table h3{ font-weight: bold; }

.btn-basic{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#636363;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn-turquoise:focus{
    text-decoration: none;
    color: #fff;
    background: #04af97;
}
.btn-turquoise:hover{
    text-decoration: none;
    color: #fff;
    background-color: #04af97;
}
.btn-turquoise:active{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    text-decoration: none;
    color:#fff;
}
.btn-clean{
    padding: 2px 10px;
    color:#636363
}
.btn-turquoise{
    background-color:#01bfa5;
    border: 1px solid #01bfa5;
    color:#fff;
    font-weight: bold;
}

/*Purchase order form*/
.po-form-container {
    width: 850px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid #8fccff;
}
.po-form-container .nav {
    margin-top: 0;
    margin-bottom: 30px;
}
.po-form-container ul li {
    background-color: #d4e9fe;
    border-bottom: 1px solid #8fccff;
    border-radius:0;
}
.po-form-container ul li a {
    color:#253238;
    font-weight: bold;
    border-radius:0;
    padding: 15px;
    font-size: 1.2em;
}
.po-form-container ul li a:focus {
    color:#fff;
    background-color: #253238;
}
.po-form-container form {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}
.po-form-container form h4 {
    padding-bottom: 20px;
}

.po-form-container .next-button{
    background-color: #253238;
    border-color: #253238;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px;
}
.po-form-container .back-button{
    padding-right: 30px;
    padding-left: 30px;
}
.po-form-container .btns-wrapper {
    text-align: right;
    margin-top:30px; 
    margin-bottom:30px; 
}

table.email-template{
    margin: 0 auto;
    display: block;
    width: 85%;
}
.email-template-wrapper {
    margin-bottom: 30px;
}
.po-form-container .form-group input[type=checkbox] {
    width: 20px;
    height: 20px;
    float: left;
    margin-right:5px;
}
/*form error*/
form span.error {
    color: #700;
    font-weight: bold;
}

/*New Quote form*/
.new-quote-wrapper h3 {
    margin-left: 20px;
    margin-bottom: 50px;
}
.new-quote-wrapper h3 a {
    color: #2c353c;
    font-weight:bold;
    text-decoration:none;  
}
.new-quote-wrapper h3 a:hover {
    color: #2c353c;
    text-decoration:none;
}
.new-quote-wrapper h3 a i {
    color: #a8a9ad;
    padding-right:8px;
}

.new-quote-form {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.new-quote-form hr {
    width: 100%;
}
button.add-new-line {
    float: right;
    margin-bottom: 10px;
}
.new-quote-form button.choose-supplier{
    float: right;
}
form.new-quote-form-supplier {
    width: 650px;
    margin: 0 auto;
}
form.new-quote-form-supplier .btns-wrapper{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
form.new-quote-form-supplier .btns-wrapper .send-quote-btn{
    margin-left: 15px;
}

.new-quote-fields-container input.form-control {
    width: 100% !important;
}

.new-quote-fields-container .form-group {
    width: 140px;
    margin-left: 6px;
}
.new-quote-fields-container .total-price {
    border: 1px solid #fefefe;
    border-radius: 4px;
}
.new-quote-fields-container .total-price{    
    text-align: center;
    font-weight: bold;
}

.new-quote-wrapper .po-thanks-page {
    color: #cdcdcd;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 50px;
}
.new-quote-wrapper .po-thanks-page>a {
    margin-top: 55px;
}

/*arrow progress bar*/
.arrow-progress-bar {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
    margin-top: 15px;
}
.arrow-progress-bar .badge{display: inline; background-color: red;}
.arrow-progress-bar li {
    float: left;
    padding: 10px 30px 10px 40px;
    background: #d2ecea;
    color: #000000;
    position: relative;
    /*border-top: 1px solid #666;
    border-bottom: 1px solid #666;*/
    width: 15%;
    margin: 0 4px;
}

.arrow-progress-bar li:before {
    content: '';
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    
}
.arrow-progress-bar li:after {
    content: '';
    border-left: 16px solid #d2ecea;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

.arrow-progress-bar li.active {
    background: #2c353a;
}
.arrow-progress-bar li.active a{
    color:#fff;
}

.arrow-progress-bar li.active:after {
    border-left-color: #2c353a;
}
.arrow-progress-bar a:hover, .arrow-progress-bar a:focus{text-decoration: none;}
.arrow-progress-bar a {
    color: #2c353a;
    font-size: 1.2em;
    font-weight: 600;
    
}
.submit-offer{float: right;}
/*.react-datepicker-popper{position: relative !important;}*/

/*New quote headers*/
.new-quote-form-headers {
    background: #283339;
    color: #fff;
    font-weight: bold;
    padding-top: 19px;
    padding-bottom: 0px;
    line-height: 0.4;
    margin-bottom: 20px;
}
.new-quote-form-headers div {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

/*New quote form progress bar */
  .progress{width:100%;margin:40px auto;text-align:center; height: 100%; color:#fff; background-color: #fff; box-shadow: none;}
  .progress .circle,.progress .bar{position:relative;display:inline-block;background:#cfcfcf;width:60px;height:60px;border-radius:40px;}
  .progress .circle:not(:last-child){margin-right:150px;}
  .progress .bar{position:absolute;width:150px;height:5px;top:27px;left:60px;border-left:none;border-right:none;border-radius:0}
  .progress .circle .label{display:inline-block;width:32px;height:32px;line-height:50px;border-radius:32px;font-size:1.5em; padding-right: 0; padding-left: 0;}
  .progress .circle .title{display:block; font-weight: bold; color:#000;font-size:1em;line-height:65px;width:200px;margin-left:-70px;text-align:center}
  .progress .done .bar,.progress .circle.done{background:#000}
  .progress .circle.done .label{color:#FFF;background:#000;}
  /*.progress .circle.done .title{color:#444}*/
  /*.progress .circle.active .label{color:#FFF;background:#0c95be}
  .progress .circle.active .title{color:#0c95be}*/
 
 .cart-details-headers {
    color: #283339;
    font-weight: bold;
    font-size:1.2em;
    text-align:center;
}
 .cart-details-headers>div{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
 }
 .cart-details-content {
    background-color: #addaf1;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: bold;
}

.cart-details-content>div {
    max-width: 135px;
    min-width: 115px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}